body{
    margin: 0;
    background-color: rgb(2, 2, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#wrapper{
    
    border: 2px solid rgba(234, 0, 0, 0.95);
    border-radius: 10px;  
    padding: 25% 0; 
    box-shadow: 0px 0px 15px 0px red;
}
#wrapper #tit{
    color: blue;

}
#wrapper h2{
    color: aqua;
}
#line1{
    padding-top: 60px;
}
#wrapper h1{
    text-align: center;
    color: aliceblue;
}
#wrapper #auth{
    color: white;
}

#auth
{
    margin-top: 15px;
}

@media screen and (max-width: 800px) {
    #line1,#line2{
        font-size: 14px;
        margin-bottom: 5px;
        padding-left: 15px;
        padding-right: 12px;
    }
    #auth
    {
        font-size: 16px;
        padding-right: 20px;
    }
  }


  @media screen and (min-width: 800px) {
   #wrapper{
    margin-top: 100px;
    padding: 105px;
   }
  }

  
  